#search__input {
  position: relative;
}

#search__input input {
  width: calc(100% - 40px);
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(226, 192, 192, 0.06) 0px 2px 4px -1px;

  border-radius: 10px;
}

#search__input svg {
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 70px;
  background-color: var(--primary);
  color: var(--txtWhite);
}

@media screen and (max-width: 660px) {
  #search__input input {
    width: calc(100% - 20px);
    padding: 10px;
  }
  #search__input svg {
    width: 40px;
  }
}
