#select__input {
  margin: 10px 0;
  width: 100%;
}

#select__input select {
  width: 100%;
  padding: 10px 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(226, 192, 192, 0.06) 0px 2px 4px -1px;
}
