.btn__section {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.btns {
  border-radius: 20px;
  background: var(--lightGrey);
}

.btns button {
  padding: 10px 50px;
  background: var(--lightGrey);
  transition: all 0.5s ease;
  cursor: pointer;
  color: var(--txtBlack);
}

.btns button.active__proposals,
.btns button.archieved__proposals {
  border-radius: 15px;
}

.btns button.active {
  background: var(--primary);
  color: var(--txtWhite);
}

@media screen and (max-width: 380px) {
  .btns button {
    padding: 10px 30px;
  }
}

@media screen and (max-width: 290px) {
  .btns button {
    padding: 10px 15px;
  }
}
